<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>REST API PRACTICE</title>

<!-- Bootwatches Flatly Theme -->
<link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">

<!-- Fonts Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Google Fonts 'Jua' -->
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">

<!-- Main CSS Import -->
<link href="./stylesheets/main.css" rel="stylesheet">

<!-- Vue.js & Axios -->
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <!-- 메인 컨테이너 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- 메인 헤더 -->
        <div class="page-header">
          <h1>My Recipes</h1>
        </div>
        <!-- 레시피 추가 폼 -->
        <div class="recipes-create-form jumbotron">
          <h2 class="section-header">Add your recipe</h2>
          <div class="form-group">
            <label class="col-form-label col-form-label-lg" 
              for="inputFood">Food Name</label>
            <input class="form-control form-control-lg" 
              v-model="food"
              type="text"
              placeholder="your unique recipe" 
              id="inputFood">
          </div>
          <div class="form-group">
            <label class="col-form-label col-form-label-lg" 
              for="inputIngradients">Main Ingradients</label>
            <input class="form-control form-control-lg" 
              v-model="ingradients"
              type="text"
              placeholder="ex) all purposes flour 3 cups" 
              id="inputIngradients">
          </div>
          <div class="form-group">
            <label class="col-form-label col-form-label-lg" 
              for="inputLevel">Cook Level</label>
            <input class="form-control form-control-lg" 
              v-model="level"
              @keyup.enter="saveRecipe"
              type="text"
              placeholder="score max=5.0" 
              id="inputLevel">
          </div>
          <button type="button" 
            @click="saveRecipe"
            class="btn btn-primary btn-lg btn-save">Save</button>
        </div>
        <!-- 레시피 검색 폼 -->
        <div class="recipes-read-form">
          <h2 class="section-header">Search your recipe</h2>
          <div class="form-inline">
            <input class="form-control form-control-lg" 
              v-model="search.request"
              @keyup.enter="searchRecipe"
              type="text"
              placeholder="please input food name :)">
            <button class="btn btn-success btn-lg btn-search"
              @click="searchRecipe"
              type="button">search</button>
          </div>
          <li v-if="search.response"
            class="list-group-item list-group-item-action">
            <p class="item-text"><span class="highlight">Food :</span> {{ search.response.food }}</p>
            <p class="item-text"><span class="highlight">Main Ingradients :</span> {{ search.response.ingradients }}</p>
            <p class="item-text"><span class="highlight">Cook Level :</span> {{ search.response.level }}</p>
          </li>
        </div>
      </div>
      <!-- 모든 레시피 조회 폼 -->
      <div class="col-md-6">
        <div class="recipes-all">
          <ul class="list-group">
            <li v-for="(recipe, index) in recipes"
              class="list-group-item list-group-item-action">
              <p class="item-text"><span class="highlight">Food :</span> {{ recipe.food }}</p>
              <p class="item-text"><span class="highlight">Main Ingradients :</span> {{ recipe.ingradients }}</p>
              <p class="item-text"><span class="highlight">Cook Level :</span> {{ recipe.level }}</p>
              <i class="far fa-edit item-update" 
                @click.stop="editRecipe({ index: index })"></i>
              <span class="item-delete" @click.stop="deleteRecipe({ index: index })">&#x00D7;</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 모달 컨테이너 -->
  <div class="container modal-container">
      <div class="row">
        <div class="modal" :class="{ 'modal-show': modal.show }">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Edit your recipe</h5>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg">Food</label>
                  <input class="form-control form-control-lg" 
                    type="text"
                    value="modal.edit.food"
                    v-model="modal.edit.food">
                </div>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg">Ingradients</label>
                  <input class="form-control form-control-lg" 
                    type="text"
                    value="modal.edit.ingradients"
                    v-model="modal.edit.ingradients">
                </div>
                <div class="form-group">
                  <label class="col-form-label col-form-label-lg">Level</label>
                  <input class="form-control form-control-lg" 
                    type="text"
                    value="modal.edit.level"
                    v-model="modal.edit.level">
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" @click.stop="updateRecipe">update</button>
                  <button type="button" class="btn btn-secondary" @click.stop="cancelRecipe">cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 메인 푸터 -->
  <div class="footer">
    <h4>RESFATORING Second Session - REST API Practice</h4>
    <h5>Frontend : Vue.js + Axios</h5>
    <h5>Backend : Node.js + Express</h5>
  </div>
</div>
<script>
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        food: '',
        ingradients: '',
        level: '',
        recipes: [],
        search: {
          request: '',
          response: null
        },
        modal: {
          show: false,
          edit: {
            food: '',
            ingradients: '',
            level: ''
          },
          currentIndex: null
        }
      }
    },
    mounted: function () {
      var _this = this 
      axios.get('/recipes')
      .then(function (response) {
        _this.recipes = response.data
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    methods: {
      // show a recipe
      searchRecipe: function () {
        if (this.search.request.trim() === '') return
        var _this = this
        axios.get('/recipes/' + _this.search.request)
        .then(function (response) {
          if (response.data.error) {
            _this.search.response = { food: response.data.error }
          } else {
            _this.search.response = response.data
          }
          _this.search.request = ''
        })
        .catch(function (error) {
          console.log(error)
        })
      },
      // create a recipe
      saveRecipe: function () {
        if ((this.food.trim() === '' || this.ingradients.trim() === '') || this.level.trim() === '') return
        var _this = this
        axios.post('/recipes', {
          data: {
            food: _this.food,
            ingradients: _this.ingradients,
            level: _this.level
          }
        })
        .then(function (response) {
          _this.recipes.push(response.data)
          _this.food = ''
          _this.ingradients = ''
          _this.level = ''
        })
        .catch(function (error) {
          console.log(error)
        })
      },
      // edit a recipe
      editRecipe: function (data) {
        var index = data.index
        this.modal.show = !this.modal.show
        this.modal.edit = Object.assign({}, this.recipes[index])
        this.modal.currentIndex = index;
      },
      // cancel editing
      cancelRecipe: function () {
        var props = this.modal.edit
        this.modal.show = !this.modal.show
        for (prop in props) {
          props[prop] = ''
        }
        this.modal.currentIndex = null
      },
      // update a recipe
      updateRecipe: function () {
        var update_data = this.modal.edit
        if ((update_data.food.trim() === '' || update_data.ingradients.trim() === '') || update_data.level.trim() === '') return
        var _this = this
        axios.put('/recipes/' + _this.modal.currentIndex, {
          data: {
            food: update_data.food,
            ingradients: update_data.ingradients,
            level: update_data.level
          }
        })
        .then(function (response) {
          _this.recipes[_this.modal.currentIndex] = response.data
          _this.cancelRecipe()
        })
        .catch(function (error) {
          console.log(error);
        })
      },
      // delete a recipe
      deleteRecipe: function (data) {
        var index = data.index
        var _this = this
        axios.delete('/recipes/' + index)
        .then(function (response) {
          console.log(response.data)
          _this.recipes.splice(index, 1)
        })
        .catch(function (error) {
          console.log(error)
        })
      }
    }
  })
</script>
</body>
</html>
